@model LaundryStore.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <section class="main--content">
            <div class="panel">
                <div class="records--header">
                    <div class="title fa-shopping-bag">
                        <h3 class="h3">Post Management<a href="#" class="btn btn-sm btn-outline-info">Post Create</a></h3>
                    </div>
                    <div class="actions">
                        <a style="margin-right:10px" class="addProduct btn btn-lg btn-rounded btn-info" title="Back" href="@Url.Action("Index", "News")">
                            <span>BACK</span>
                        </a>
                        <div style="margin-right:10px" class="addProduct btn btn-sm btn-rounded btn-warning">
                            <div>
                                <button type="submit" class="btn btn-warning"><b>CREATE Post</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="records--body">
                    <div class="title">
                        <h6 class="h6">CREATE EMPLOYEE</h6>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tab01" data-toggle="tab" class="nav-link active">Create</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab01">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Tittle</span></b>
                                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Description</span></b>
                                    @Html.EditorFor(model => model.shortDescription, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.shortDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Thumnail</span></b>
                                    <input class="form-control" type="file" name="avatar" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>CategoryName</span></b>
                                    @Html.DropDownList("categoryPostId", null, htmlAttributes: new { @class = "form-control", @required = true })
                                    @Html.ValidationMessageFor(model => model.categoryPostId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}