@model IEnumerable<LaundryStore.Models.DuePayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.totalDebt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.totalDebt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
