@model IEnumerable<LaundryStore.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Main Content Start -->
<section class="main--content">
    <div class="panel">
        <!-- Records Header Start -->
        <div class="records--header">
            <div class="title fa-shopping-bag">
                <h3 class="h3">Product Management <a href="#" class="btn btn-sm btn-outline-info">Manage Product</a></h3>
            </div>

            <div class="actions">
                <a class="addProduct btn btn-lg btn-rounded btn-warning" title="Create" href="@Url.Action("Create", "Products")">
                    <span>ADD PRODUCT</span>
                </a>
            </div>
        </div>
        <!-- Records Header End -->
    </div>

    @if (@ViewData["message"] != null)
    {
        <div class="alert alert-@ViewData["alert"]" role="alert">
            @ViewData["message"]
        </div>
    }

    <div class="panel">
        <!-- Records List Start -->
        <div class="records--list" data-title="Product Listing">
            <table id="recordsListView">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="not-sortable">Image</th>
                        <th>Product Name</th>
                        <th>Category Name</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>ViewCount</th>
                        <th class="not-sortable">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            <img width="70" height="70" src="~/@item.image" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.productName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.categoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.viewCount)
                        </td>
                        <td>
                            <span>
                                <a title="Detail" href="@Url.Action("Details", "Products", new { id = item.id })">
                                    <i style="color:orange" class="fas fa-info"></i>
                                </a>
                            </span>
                            <span>
                                <a title="Edit" href="@Url.Action("Edit", "Products", new { id = item.id })">
                                    <i style="color:blue" class="fas fa-edit"></i>
                                </a>
                            </span>
                            <span>
                                <a class="delete-link" title="Delete" href="@Url.Action("Delete", "Products", new { id = item.id })">
                                    <i style="color:red" class="fas fa-trash-alt"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Records List End -->
    </div>
</section>
<div class="body-content">

</div>
<!-- Main Content End -->
@section scriptsEdit{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Assets/Admin/resources/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Assets/Admin/resources/sweetalert/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

<script type="text/javascript">

    $('.delete-link').click(function (e) {
        var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
        e.preventDefault(); /* Không thực hiện action mặc định */
        $.ajax({ /* Gửi request lên server */
            url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) { /* Sau khi nhận được giá */
                $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
            },
            error: function (error) {
                errorDelete();
            }
        })
    });

    function successDelete() {
        swal({
            title: "Xóa thành công !",
            text: "Dữ liệu đã xóa khỏi hệ thống",
            icon: "success",
        });
    }

    function errorDelete() {
        swal({
            title: "Hủy bỏ !",
            text: "Quá trình thất bại",
            icon: "error"
        });
    }

</script>