
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_layoutOtherPage.cshtml";
}

<!-- inner banner start -->
@section scripts{
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">Xác nhận thanh toán đơn hàng</h1>
            </div>
        </div>
    </div>
}
<!-- inner banner end -->
<!-- checkout start -->
<section class="checkout pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="left-checkout mb-md-30">
                    @if (@ViewData["message"] != null)
                    {
                        <div class="alert alert-@ViewData["alert"]" role="alert">
                            @ViewData["message"]
                        </div>
                    }
                    @if (Session["id_Customer"] == null)
                    {
                        <div class="login-section">
                            <div id="accordion1">
                                <div class="card">
                                    <div class="card-header" id="heading1" data-toggle="collapse" role="button" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        <h5 class="mb-0 rbt fs-15">Đăng Nhập Để Nhận Được Nhiều Ưu Đãi Từ Đơn Hàng Của Bạn</h5>
                                    </div>
                                    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion1">
                                        <div class="card-body">
                                            <form action="LoginToCheckOut" method="post">
                                                <p class="mb-20">Nếu bạn đã có tài khoản, vui lòng đăng nhập tại đây</p>
                                                <div class="form-group">
                                                    <label for="email">Email *</label>
                                                    <input type="email" class="form-control input-white" placeholder="Email address" id="email" required="required" name="email">
                                                    <p class="required-field" style="display: none;"><i class="fas fa-times"></i>Vui lòng nhập email !</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pwd">Mật Khẩu *</label>
                                                    <input type="password" class="form-control input-white" placeholder="Password" id="password" required="required" name="password">
                                                    <p class="required-field" style="display: none;"><i class="fas fa-times"></i>Vui lòng nhập mật khẩu</p>
                                                </div>
                                                <button type="submit" class="btn btn-blue btn-md mb-5">ĐĂNG NHẬP</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading2" data-toggle="collapse" role="button" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <h5 class="mb-0 rbt fs-15">Bạn Là Khách Hàng Mới ?</h5>
                                    </div>
                                    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion1">
                                        <div class="card-body">
                                            <h5 class="mb-20 ">Đăng kí tài khoản để nhận được nhiều ưu đãi hơn</h5>
                                            <a href="/Account/RegisterAccount" class="btn btn-blue btn-md">Tạo tài khoản</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="bill-section">
                        <h3 class="f-700 mb-15 mt-35">THÔNG TIN CỦA BẠN</h3>
                        <form action="#" class="row">
                            <div class="form-group col-md-12">
                                <label for="fname">Họ tên người nhận *</label>
                                <input type="text" class="form-control input-white" id="fname" placeholder="Họ tên của bạn" value="@ViewBag.customerName" required="required">
                                <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="Email">Email người nhận *</label>
                                <input type="email" class="form-control input-white" id="Email" placeholder="Email của bạn" value="@ViewBag.emailCustomer" required="required">
                                <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="phone">Điện thoại người nhận *</label>
                                <input type="text" class="form-control input-white" id="phone" placeholder="Số điện thoại của bạn" value="@ViewBag.phoneCustomer" required="required">
                                <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="city">Tỉnh thành *</label>
                                <select class="form-control input-white" id="city">
                                    <option>Đà Nẵng</option>
                                </select>
                                <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="county">Chọn quận huyện *</label>
                                <select class="form-control input-white" id="county" name="county" required="required">
                                    <option value="1">Quận Hải Châu - (30VNĐ)</option>
                                    <option value="2">Quận Cẩm Lệ - (40VNĐ)</option>
                                    <option value="3">Quận Thanh Khê - (50VNĐ)</option>
                                    <option value="4">Quận Liên Chiểu - (60VNĐ)</option>
                                    <option value="5">Quận Ngũ Hành Sơn - (70VNĐ)</option>
                                    <option value="6">Quận Sơn Trà - (80VNĐ)</option>
                                    <option value="7">Huyện Hòa Vang - (90VNĐ)</option>
                                    <option value="8">Huyện Hoàng Sa - (100VNĐ)</option>
                                </select>
                                <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="Address">Địa chỉ người nhận *</label>
                                <input type="text" class="form-control input-white mb-15" id="address" placeholder="Địa chỉ của bạn" value="@ViewBag.addressCustomer" required="required">
                                <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                            </div>
                        </form>
                    </div>
                    <div class="order-note">
                        <h3 class=" f-700 mb-15 mt-15">Ghi chú</h3>
                        <div class="form-group mb-0">
                            <textarea class="form-control input-white" rows="5" id="comment" placeholder="Ghi chú thêm về đơn hàng"></textarea>
                            <p class="required-field" style="display: none;"><i class="fas fa-times"></i> This field is required.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order bg-light-white">
                    <h3 class="f-700 mb-20">Đơn hàng của bạn</h3>
                    <div class="ordered">
                        <ul>
                            @foreach (var item in ViewBag.listCart)
                            {
                                <li class="odered-items">
                                    <img width="70" height="70" src="~/@item.image" />
                                    <div class="details">
                                        <h4 class="rbt">@item.productName</h4>
                                        <div class="quantity">@item.quantity x <span>@item.price VNĐ x @item.type</span></div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="price-detail mb-15">
                        <ul class="total-table mt-5">
                            <li><span>Tổng Đơn Hàng:</span>@ViewBag.total</li>
                            <li><span id="shipmentCost">Phí Ship:</span>0 VNĐ</li>
                            <li class="total"><span>TỔNG THANH TOÁN:</span>@ViewBag.total</li>
                        </ul>
                    </div>
                    <form>
                        <div class="m_ht_gh">
                            <div class="t_ht_gh">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                Hình thức giặt
                            </div>
                            <ul class="ul_ht_gh">
                                <li>
                                    <label>
                                        <input class="hinhthuc_giat" type="radio" name="hinhthuc" value="1" checked="checked" onclick="hinhthucnhan1()">
                                        Khách tự mang đồ đến cửa hàng
                                    </label>
                                    <div class="tt_ht_gh f-detail clearfix hinhthuc_show" id="hinhthuc_show1" val="0" style="display:none;">
                                        <strong style="margin-top:20px; width:100%; float:left;">CỬA HÀNG GIẶT ỦI TIỆN LỢI LAUNDRY CITY</strong><br/>
                                        <strong>Địa chỉ:</strong> 31 Yên Bái - Quận Hải Châu - Tp. Đà Nẵng<br>
                                        <strong>Điện thoại:</strong> 0123456789 -789456123 - 023678945<br>
                                        <strong>Hotline:</strong> +0123456789<br>
                                        <strong>Email:</strong> <a href="https://localhost:44335/Home/Index" rel="nofollow">laundrycity@gmail.com</a><br>
                                        <strong>Website:</strong> <a href="https://localhost:44335/Home/Index">laundrycity.com</a>
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        <input class="hinhthuc_giat" type="radio" name="hinhthuc" value="2" onclick="hinhthucnhan2()">
                                        Nhân viên tới lấy đồ tận nơi (<b>Có phí: <b id="phi_hinhthucnhan">0</b>đ</b>)
                                    </label>
                                    <div class="tt_ht_gh f-detail clearfix hinhthuc_show" id="hinhthuc_show2" val="0" style="display:none;">
                                        <p><b>Quý khách phải chịu thêm khoản phí để nhân viên tới lấy đồ đi giặt</b></p>
                                        <p><b>Phí tùy thuộc địa điểm Tỉnh thành/ Quận huyện quý khách chọn</b></p>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- End .m_ht_gh -->
                        <div class="m_ktt_gh">
                            <div class="t_ht_gh">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Hình thức giao hàng
                            </div>
                            <ul class="ul_ht_gh">
                                <li>
                                    <label>
                                        <input class="kieu_check" type="radio" name="kieu" value="1" checked="checked" onclick="hinhthucgiao1()">
                                        Đến cửa hàng nhận đồ
                                    </label>
                                    <div class="tt_ht_gh f-detail clearfix kieu_show" id="kieu_show1" val="0" style="display:none;">
                                        <strong style="margin-top:20px; width:100%; float:left;">CỬA HÀNG GIẶT ỦI TIỆN LỢI LAUNDRY CITY</strong><br/>
                                        <strong>Địa chỉ:</strong> 31 Yên Bái - Quận Hải Châu - Tp. Đà Nẵng<br>
                                        <strong>Điện thoại:</strong> 0123456789 -789456123 - 023678945<br>
                                        <strong>Hotline:</strong> +0123456789<br>
                                        <strong>Email:</strong> <a href="https://localhost:44335/Home/Index" rel="nofollow">laundrycity@gmail.com</a><br>
                                        <strong>Website:</strong> <a href="https://localhost:44335/Home/Index">laundrycity.com</a>
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        <input class="kieu_check" type="radio" id="kieu2" name="kieu" value="2" onclick="hinhthucgiao2()">
                                        Giao tận nhà cho khách (<b>Có phí: <b id="phi_giao">0</b>đ</b>)
                                    </label>
                                    <div class="tt_ht_gh f-detail clearfix kieu_show" id="kieu_show2" val="0" style="display:none;">
                                        <p><b>Quý khách phải chịu thêm khoản phí để nhân viên giao hàng tận nơi</b></p>
                                        <p><b>Phí tùy thuộc địa điểm Tỉnh thành/ Quận huyện quý khách chọn</b></p>

                                    </div>
                                </li>
                            </ul>
                        </div><!-- End .m_ktt_gh -->
                    </form>
                    <button type="submit" class="btn btn-block btn-blue mt-15" onclick="purchase()">ĐẶT HÀNG</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout end -->