
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_layoutOtherPage.cshtml";
}

<!-- inner banner start -->
@section scripts{
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">GIỎ HÀNG</h1>
            </div>
        </div>
    </div>
}
<!-- inner banner end -->
<!-- cart area start -->
<!-- cart start -->
<section class="cart pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-page table-responsive">
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th class="prdt_thumb">Hình</th>
                                <th class="prdt_name">Tên Dịch Vụ</th>
                                <th class="prdt-price">Giá</th>
                                <th class="prdt_quantity">Số Lượng</th>
                                <th class="prdt_quantity">Giảm Giá</th>
                                <th class="prdt_quantity">Loại Dịch Vụ</th>
                                <th class="prdt_total">Tổng</th>
                                <th class="prdt_remove">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.listCart)
                            {
                                <tr>
                                    <td class="prdt-thumb">
                                        <img width="70" height="70" src="~/@item.image" />
                                    </td>
                                    <td class="prdt-name">@item.productName</td>
                                    <td class="prdt-price">@item.price</td>
                                    <td class="prdt-quantity">
                                        <label>Số Lượng</label>
                                        <input class="form-control" min="1" max="100" value="@item.quantity" type="number">
                                    </td>
                                    <td class="prdt-total">@item.discount</td>
                                    <td class="prdt-total">@item.type</td>
                                    <td class="prdt-total">@item.total</td>
                                    <td class="prdt-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-45 mt-md-30">
            <div class="col-lg-6 mb-md-30">
                <div class="crt-coxes">
                    <h3 class="cart-box-head bg-black white">Use Gift Coupon</h3>
                </div>
                <div class="inner-cart-box">
                    <p class="lh-10 mb-10">Enter your gift certificate code here</p>
                    <div class="input-group coupon-input">
                        <input type="text" class="form-control" placeholder="Your coupon code" aria-label="Recipient's username">
                        <div class="input-group-append">
                            <button class="btn btn-black btn-md" type="button">APPLY COUPON</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="crt-coxes">
                    <h3 class="cart-box-head  bg-black white">Cart Total</h3>
                </div>
                <div class="inner-cart-box">
                    <ul class="total-table">
                        <li class="total"><span>TOTAL:</span>@ViewBag.total VNĐ</li>
                    </ul>
                    <hr />
                    <div class="text-center text-sm-right">
                        <a href="/ShoppingCart/Checkout" class="btn btn-blue mt-10">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cart end -->
<!-- cart area end -->

<style>
    .inner-cart-box {
        height: 170px !important;
    }
</style>