@model LaundryStore.Models.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.customerId)
        @Html.HiddenFor(model => model.orderDate)
        @Html.HiddenFor(model => model.employeeIdConfirm)
        @Html.HiddenFor(model => model.endDate)
        @Html.HiddenFor(model => model.createdBy)
        @Html.HiddenFor(model => model.amount)
        @Html.HiddenFor(model => model.totalOrder)
        @Html.HiddenFor(model => model.status)
        @Html.HiddenFor(model => model.description)

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="panel">
                <!-- Records Header Start -->
                <div class="records--header">
                    <div class="title fa-shopping-bag">
                        <h3 class="h3">Order Management<a href="#" class="btn btn-sm btn-outline-info">Order Edit</a></h3>
                    </div>
                    <div class="actions">
                        <a style="margin-right:10px" class="addProduct btn btn-lg btn-rounded btn-info" title="Back" href="@Url.Action("Index", "Orders")">
                            <span>BACK</span>
                        </a>
                        <div style="margin-right:10px" class="addProduct btn btn-sm btn-rounded btn-warning">
                            <div>
                                <button type="submit" class="btn btn-warning"><b>UPDATE ORDER</b></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Records Header End -->
            </div>

            <div class="panel">

                <!-- Edit Product Start -->
                <div class="records--body">
                    <div class="title">
                        <h6 class="h6">EDIT ORDER</h6>
                    </div>

                    <!-- Tabs Nav Start -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tab01" data-toggle="tab" class="nav-link active">Edit</a>
                        </li>
                    </ul>
                    <!-- Tabs Nav End -->
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade show active" id="tab01">
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Customer Address</span></b>
                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Payment Method</span></b>
                                    @Html.DropDownList("paymentMethodId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.paymentMethodId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Order Status</span></b>
                                    @Html.DropDownList("statusId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.statusId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Shipping Address</span></b>
                                    @Html.DropDownList("shippingId", null, "------Select------", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ShippingAdress.addressName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Employee Shipping</span></b>
                                    @Html.DropDownList("employeeIdShipping", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.employeeIdShipping, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b> <span>Total Debt</span></b>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.totalDebt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.totalDebt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="role"><b>PayMent Status</b></label>
                                    <select id="paymentstatus" name="paymentstatus" class="form-control" required>
                                        <option value="doing">doing</option>
                                        <option value="done">done</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                    <!-- Tab Content End -->
                </div>
                <!-- Edit Product End -->
            </div>
        </section>
    </div>
    <!-- Main Content End -->
}
