@model LaundryStore.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="panel">
                <!-- Records Header Start -->
                <div class="records--header">
                    <div class="title fa-shopping-bag">
                        <h3 class="h3">Employee Management<a href="#" class="btn btn-sm btn-outline-info">Employee Create</a></h3>
                    </div>
                    <div class="actions">
                        <a style="margin-right:10px" class="addProduct btn btn-lg btn-rounded btn-info" title="Back" href="@Url.Action("Index", "Employees")">
                            <span>BACK</span>
                        </a>
                        <div style="margin-right:10px" class="addProduct btn btn-sm btn-rounded btn-warning">
                            <div>
                                <button type="submit" class="btn btn-warning"><b>CREATE EMPLOYEE</b></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Records Header End -->
            </div>

            <div class="panel">

                <!-- Edit Product Start -->
                <div class="records--body">
                    <div class="title">
                        <h6 class="h6">CREATE EMPLOYEE</h6>
                    </div>

                    <!-- Tabs Nav Start -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tab01" data-toggle="tab" class="nav-link active">Create</a>
                        </li>
                    </ul>
                    <!-- Tabs Nav End -->
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade show active" id="tab01">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Email</span></b>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @required = true, @type="email" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Password</span></b>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Full Name</span></b>
                                    @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Phone</span></b>
                                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Date Start</span></b>
                                    @Html.EditorFor(model => model.dateStart, new { htmlAttributes = new { @class = "form-control", @required = true, @type = "Date" } })
                                    @Html.ValidationMessageFor(model => model.dateStart, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Contract Salary</span></b>
                                    @Html.EditorFor(model => model.contractSalary, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.contractSalary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Unit Salary</span></b>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.unitSalary, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.unitSalary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <b><span>Work Time</span></b>
                                    @Html.EditorFor(model => model.workTime, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.workTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <b><span>Schedule</span></b>
                                    @Html.EditorFor(model => model.schedule, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                    @Html.ValidationMessageFor(model => model.schedule, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="role"><b>Role</b></label>
                                    <select id="role" name="role" class="form-control" required>
                                        <option>--Select Role--</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Employee</option>
                                        <option value="3">User</option>
                                        <option value="4">Worker</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                    <!-- Tab Content End -->
                </div>
                <!-- Edit Product End -->
            </div>
        </section>
    </div>
}
